*{
    margin: 0px;
    padding: 0px;
}

.main{
    /*background-color: rgb(61, 11, 11);*/
    background-color: rgb(19,36,62);
    height:100vh;

    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
}

.main > div:nth-child(1){
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

.main > div:nth-child(1) a{
    text-decoration: none;   
}

.main > div:nth-child(1) i{
    color: ivory; 
    opacity: 0.5; 
    padding-left: 50px;
    transform:all 0.2s ease;
}

.main > div:nth-child(1) i:hover{
    opacity: 0.8; 
}

.gameCanvas{
    position: absolute;
    height: 400px;
    width: 400px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);

    border-radius: 5px;

    background-color: rgb(205, 233, 179);

    box-shadow: 0 0 20px 2px green,0 0 20px 2px green inset;

    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap:0px;
}

.gameCanvas div{
    /*Content inside each div of gameCanvas is centered*/
    color: rgb(17, 43, 17);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.startScreen{
    /*Same Position as the gameCanvas*/
    position: absolute;
    height: 400px;
    width: 400px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;

    background-color: white;

    z-index: 1;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    opacity: 0.5;
}


/*Part of the startScreen*/
#play{
    color: rosybrown;
    transition: all 0.3s ease;
}

#play:hover{
    cursor: pointer;
    color: red;
}

/*Circle inside each div of gameCanvas*/
#circle{
    /*visibility: hidden;*/
    display: none;
}

/*End Screen*/
/*Same Dimension as the startScreen and gameCanvas*/
.endScreen{
    visibility: hidden;

    position: absolute;
    height: 400px;
    width: 400px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;

    background-color: white;

    z-index: 1;

    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0.5;
}

/*replay button*/
#replay{
    visibility: hidden;
    margin: 30px; /*space between the 2 buttons*/
    color: rosybrown;
    transition: all 0.3s ease;
}

#replay:hover{
    cursor: pointer;
    color: red;
}

/*home button*/
#home_btn{
    visibility: hidden;
    margin: 30px; /*space between the 2 buttons*/
    text-decoration: none;
    color: rosybrown;
    transition: all 0.3s ease;
}

#home_btn:hover{
    cursor: pointer;
    color: red;
}

/*right component*/
.right_comp{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right_comp div{
    border-radius: 5px;
}

.right_comp > div:nth-child(0){
    margin-top: 40px;
    /*margin-bottom: 20px;*/
}

.title{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    font-family: 'Press Start 2P', cursive;
    font-size: large;
    color: white;
    
    white-space: nowrap;
}



.title h1{
    /*text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5) cyan, 0 0 0.45em cyan;*/
    /*text-shadow: 0 0 30px white,0 2px 10px #FF0000;*/
    text-shadow:0 0 7px aquamarine, 0 0 10px aquamarine,0 0 21px aquamarine,0 0 30px white;
     
    animation: flicker 7s linear infinite;
}

@keyframes flicker{
    0%{
        text-shadow:0 0 10px white,0 0 50px white;
    }
    5%{
        text-shadow:0 0 10px white,0 0 50px white;
    }
    10%{
        text-shadow:0 0 10px white;
    }
    15%{
        text-shadow:0 0 10px white,0 0 50px white;
    }
    20%{
        text-shadow:0 0 10px white;
    }
    25%{
        text-shadow:0 0 10px white,0 0 50px white;
    }
    30%{
        text-shadow:0 0 10px white;
    }
    50%{
        text-shadow:0 0 10px white,0 0 50px white;
    }
    60%{
        text-shadow:0 0 10px white,0 0 50px white;
    }
    65%{
        text-shadow:0 0 10px white;
    }
    70%{
        text-shadow:0 0 10px white,0 0 50px white;
    }
    90%{
        text-shadow:0 0 10px white;
    }
    100%{
        text-shadow:0 0 10px white,0 0 50px white;
    }
}


.right_comp > div:nth-child(1){
    /*margin-top: 20px;*/
    margin-bottom: 40px;
}

/*Score Block*/
.score,.timer{
    padding: 10px;
    margin: 5px;

    border: 3px solid rgb(255, 48, 48);

    box-shadow: 0 0 20px 1px red,0 0 10px 1px red inset;

    background-color: peachpuff;

    height: 150px;
    width: 150px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-family: 'Red Hat Mono', monospace;
    font-size: xx-large; 
    font-weight: lighter;
    color: black;
}



/*Score CSS Merge
.score{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-family: 'Red Hat Mono', monospace;
    font-size: xx-large; 
    font-weight: lighter;
    color: black;
}*/






