*{
    margin: 0px;
    padding: 0px;
}

.main{
    background-color: rgb(61, 11, 11);
    height:100vh;

    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
}

.gameCanvas{
    position: absolute;
    height: 400px;
    width: 400px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);

    border-radius: 5px;

    background-color: rgb(205, 233, 179);

    box-shadow: 0 0 20px 2px green,0 0 20px 2px green inset;

    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap:0px;
}

.gameCanvas div{
    /*Content inside each div of gameCanvas is centered*/
    color: rgb(51, 131, 51);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.startScreen{
    /*Same Position as the gameCanvas*/
    position: absolute;
    height: 400px;
    width: 400px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;

    background-color: white;

    z-index: 1;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    opacity: 0.5;
}


/*Part of the startScreen*/
#play{
    color: rosybrown;
    transition: all 0.3s ease;
}

#play:hover{
    cursor: pointer;
    color: red;
}

/*Circle inside each div of gameCanvas*/
#circle{
    /*visibility: hidden;*/
    display: none;
}

/*End Screen*/
/*Same Dimension as the startScreen and gameCanvas*/
.endScreen{
    visibility: hidden;

    position: absolute;
    height: 400px;
    width: 400px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;

    background-color: white;

    z-index: 1;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    opacity: 0.5;
}

/*replay button*/
#replay{
    visibility: hidden;
    color: rosybrown;
    transition: all 0.3s ease;
}

#replay:hover{
    cursor: pointer;
    color: red;
}

/*right component*/
.right_comp{
    display: inline-flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:flex-start;
}

/*Score Block*/
.score,.timer{
    padding: 10px;
    margin: 5px;

    border: 3px solid rgb(255, 48, 48);

    box-shadow: 0 0 20px 1px red,0 0 10px 1px red inset;

    background-color: peachpuff;

    height: 150px;
    width: 150px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-family: 'Red Hat Mono', monospace;
    font-size: xx-large; 
    font-weight: lighter;
    color: black;
}



/*Score CSS Merge
.score{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-family: 'Red Hat Mono', monospace;
    font-size: xx-large; 
    font-weight: lighter;
    color: black;
}*/






