*{
    padding:0px;
    margin:0px;
}

.main{
    background-color: rgb(19,36,62);
    position: fixed;

    height: 100%;
    width: 100%;
}


div.sun{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(yellow,orange);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    box-shadow:0px 0px 30px 12px yellow;

    display:grid;
    grid-template-rows: repeat(2,1fr);

    gap:0px; 
}


div.sun div{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

div.sun div a{      
    text-decoration: none;
    color: rgb(233, 149, 149);
}

div.sun > div:nth-child(1) a i{
    opacity: 1;
    transition: all 0.3s ease;
}

div.sun > div:nth-child(1):hover a i{
    background-color: rgb(255, 50, 50);
    border-radius: 25%;
    padding: 10px;
    transform: scale(1.5) rotate(15deg);
    opacity: 1;
    cursor: pointer;
}

div.sun > div:nth-child(2) a i{
    background-color: none;
    opacity: 1;
    transition: all 0.3s ease;
}

div.sun > div:nth-child(2):hover a i{
    background-color: rgb(255, 50, 50);
    border-radius: 25%;
    padding: 13px;
    transform: scale(1.5) rotate(15deg);
    opacity: 1;
    cursor: pointer;
}

/*Asteroid*/
.spec_asteroid{
    width: 50px;
    height: 50px;
}

div.asteroid{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-items: flex-end; /*flex column to right*/
}

div.asteroid > img{
    opacity: 0; /*Initial Opacity*/
    padding: 10px;
    animation: orbit 7s linear infinite;    
}

@keyframes orbit{
    0%{
        transform: translateX(0);
        opacity:1;
    }
    50%{
        opacity:0;
    }
    70%{
        opacity:1;
    }
    100%{
        transform: translateX(-100vw);
        opacity:0;
    }
}

div.asteroid > img:nth-child(1){
    animation-delay: 7s;
}
div.asteroid > img:nth-child(2){
    animation-delay: 4s;
}
div.asteroid > img:nth-child(3){
    animation-delay: 3s;
}
div.asteroid > img:nth-child(4){
    animation-delay: 6s;
}
div.asteroid > img:nth-child(5){
    animation-delay: 2s;
}

/*Asteroid Rotate Animation*/
